<!-- Home page design with large image to left of bio info. -->
{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

  <div class="center-grid" style="
    display: flex;
    width: 100vw !important">
  <div class="ui three column centered grid container">
<!--  <div class="ui fluid container">-->
    <div class="six wide center aligned column">
    <div class="ui fluid circular image">
      <img id='image' style="max-width: 300px" src="{{ site.data.bio.basics.picture }}">
  </div>
    </div>

<div class="ten wide left aligned column">
  <div id="middle-text">
    <div class="write-erase">
      <div data-text></div>
      <span class="titles">Computer Science Student</span>
      <span class="titles">Aspiring Software Engineer</span>
    </div>
    <h2 id="name" class="header no-bottom">{{ site.data.bio.basics.name }}</h2>
      <a class="home-redirects">About me</a>
      <a class="home-redirects" href="{{ site.baseurl }}/projects">Projects</a>
      <a class="home-redirects" href="{{ site.baseurl}}/files/RESUME.pdf">Resume</a>
      <a class="home-redirects">Contact Me</a>
  </div>
</div>
  
</div>
</div>

<!-- this allows for the write-and-erase text to constantly switch out -->
<script>
  let wrapper;
    const sleep = ms => new Promise(resolve => setTimeout(resolve, ms));
    async function writingAll(stringTarget, container) {
      wrapper = document.querySelector('[' + container + ']');
      const stringsContainer = document.getElementsByClassName(stringTarget);

      while (wrapper) {
        for (i = 0; i < stringsContainer.length; i++) {
          const string = stringsContainer[i].textContent;
          await write(string);
          await sleep(1500);
          await erase();
          await sleep(1500);
        };
      }
    };

    async function write(text) {
      let index = 0;
      while (index < text.length) {
        const timeout = 100;
        await sleep(timeout);
        index++;
        wrapper.innerHTML = text.substring(0, index);
      }
    };


    async function erase() {
      while (wrapper.textContent.length) {
        const timeout = 100;
        await sleep(timeout);
        wrapper.textContent = wrapper.textContent.substring(0, wrapper.textContent.length - 2);
      }
    };

    writingAll('titles', 'data-text');
</script>